.sliderHolder{
    width: 100%;
    height: 750px;
    background: linear-gradient(to bottom , #A938FA 0%, #A938FA 50%,#fff 100%);
    position: relative;
    transition: all 200ms;
    overflow: hidden;
}

.sliderHolder.backgroundChanging{
    
        background: linear-gradient(to bottom , #D681FF 0%, #D681FF 50%,#fff 100%);
 
}

.rightAnimation{
    animation: slidingRight 400ms ease;
}

.leftAnimation{
        animation: slidingLeft 400ms ease;

}

@keyframes slidingRight{
 from{
    opacity: 0;
    transform: translateX(100%);

 }to{
    opacity: 1;
    transform: translateX(0);
 }
}

@keyframes slidingLeft{
 from{
    opacity: 0;
    transform: translateX(-100%);

 }to{
    opacity: 1;
    transform: translateX(0);
 }
}

.imgBox{
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
   transition: opacity ease 200ms;
}

.imgBox.activeImg{
    opacity: 1;
}

.rightAnchor{
    left: 90%;
}
.leftAnchor{
    right: 90%;
}

.directionIcon{
    position: absolute;
    top: 170px;
    font-size: 50px;
    cursor: pointer;
}

.imgBox img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:767px){
    .directionIcon{
        font-size: 25px;
    }
}