:root{
    --linearfirst: #A938FA;
    --linearsecond: #F8F5FC;
    --secondbackground: #D681FF;
    --backgroundCard: #e0f7e9;
}


.sliderHolder{
    width: 100%;
    height: 350px;
    position: relative;
    transition: all 200ms;
    overflow: hidden;
}
/*=====================================================*/
/*=====changing background for Firstrow component======*/
/*=====================================================*/
.firstRowHolder{
     width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to bottom , var(--linearfirst) 0, var(--linearfirst) 87px,var(--linearsecond) 250px);
    transition: all 200ms;
   
}

.firstRowHolder.backgroundChanging{
    
        background: linear-gradient(to bottom , var(--secondbackground) 0%, var(--secondbackground) 87px,var(--linearsecond) 250px);
 
}

/*=========================================================================================*/
/*========================================Cards============================================*/
/*==========================================================================================*/

.cardHolder{
    width: 23%;
    height:400px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(38, 18, 91, 0.12);
    display: flex;
    flex-direction: column;
 }

 .cardHolder .basketButton{
    width: 30%;
        margin-right: 15px;
        margin-top: auto;
        margin-bottom: 5px;

 }

 .cardHolder p,.detailsLinks{
       padding: 0 20px;

 }
 .detailsLinks{
    text-decoration: none;
    color: #000;
    
   
 }

 .cardHolder img{
    width: 90%;
    height: 150px;
    margin: 5% auto;
    display: block;
 }

 .detailsLinks .detailsIcon{
   vertical-align: middle;
   margin-left: 5px;
  }

 
/*===========================================================================================*/
.rightAnimation{
    animation: slidingRight 400ms ease;
}

.leftAnimation{
        animation: slidingLeft 400ms ease;

}

@keyframes slidingRight{
 from{
    opacity: 0;
    transform: translateX(100%);

 }to{
    opacity: 1;
    transform: translateX(0);
 }
}

@keyframes slidingLeft{
 from{
    opacity: 0;
    transform: translateX(-100%);

 }to{
    opacity: 1;
    transform: translateX(0);
 }
}

.imgBox{
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
   transition: opacity ease 200ms;
}

.imgBox.activeImg{
    opacity: 1;
}

.rightAnchor{
    left: 90%;
}
.leftAnchor{
    right: 90%;
}

.directionIcon{
    position: absolute;
    top: 170px;
    font-size: 50px;
    cursor: pointer;
}

.imgBox img{
    width: 100%;
    height: 100%;
}



@media only screen and (max-width:767px){
    .directionIcon{
        font-size: 25px;
    }.cardHolder{
        width: 90%;
        height: auto;
    }.firstRowHolder{
        height: auto;
        flex-direction: column;
        align-items: center;
        
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .cardHolder{
        width: 24%;
        height: auto;
    }.cardHolder .basketButton{
        width: 50%;
    }

}

