:root {
  --primaryColor: #d8f3dc;
   --linearfirst: #A938FA;
   --borders:#D1D5DB;
   --true: #38A169;
     --false: #C53030;
      --skyBlue: #7DD3FC;
      --buttonColor: #2c7a7b;
  --buttonHover: #38a3a5;
}

.BasketHolder{
    width: 100%;
    height: auto;
}
.InfoCustomer{
    width: 100%;
    height: auto;
}

.BasketHolder .backTomain, .BasketHolder .total{
    text-align: center;
}

.imgForBasket{
    width: 90%;
    height: 400px;
   display: block;
    margin: 25px auto;
}

.borderHolder{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sumBorder{
    width: 40%;
    height: 2px;
    background-color: black;
}

.factorOfbuying{
 width: 90%;
 height: auto;
 border: 1px solid var(--borders);
 margin: 25px auto;
 border-radius: 5px;

}

.factorOfbuying button{
    display: block;
   margin-right: auto;
   margin-left: 20px;
 margin-bottom: 15px;
 padding: 5px;
 background-color: var(--buttonColor);
 border: none;
 border-radius: 5px;
 color: #fff;
 cursor: pointer;
 transition: all 200ms;
}

.factorOfbuying button:hover{
    background-color: var(--buttonHover);
}

.countAndname{
    max-width: 70%;
    display: grid;
    grid-template-columns:  2fr 1fr 1fr 1fr;
    align-items: center;
    margin: 0 auto;
}

.countAndname .nameOfProduct{
    color: var(--true);
}

.priceOfEachProduct{
 color: var(--skyBlue);
}

.rows{
    max-width: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    margin: 0 auto;
}

.rows h4{
    color: var(--linearfirst);
}

.InfoHolder{
    width: 100%;
    height: auto;
}

.InfoHolder h3{
    margin-right: 65px;
}

.customerInfo{
    width: 90%;
    height: auto;
    border: 1px solid var(--borders);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px;
    gap: 5px;
    margin: 0 auto;
}

.customerInfo input{
    width: 45%;
    padding: 5px;
    margin-right: 2.3%;
    margin-left: 2.3%;
}

  

.customerInfo input:focus{
  outline-color: var(--linearfirst);
}

.customerInfo button{
    width: 45%;
      margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: var(--buttonColor);
    color: #fff;
    cursor: pointer;
    transition: all 200ms;
}

.customerInfo button:disabled{
   background-color: #aaa;
  color: #666;
    cursor: not-allowed;
}

.customerInfo button:not(:disabled):hover{
      background-color: var(--buttonHover);
}

.errorType{
    margin-right: 65px;
    color: var(--false);
}



@media only screen and (max-width:767px){
    .imgForBasket{
        height: 100%;
    }.borderHolder p{
        width: 10%;
    font-size: 13px;
}.rows{
    display: none;
}.countAndname{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
    margin-top: 5px;
    border: 1px solid var(--borders);
}.BasketHolder{
    height: auto;
}.customerInfo{
    
    height: auto;
    flex-direction: column;
}.customerInfo input{
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    }.customerInfo button{
        width: 100%;
        margin: 0 0;
      
    }.InfoHolder h3{
        margin-right: 0;
        text-align: center;
    }.errorType{
        margin-right: 0;
        text-align: center;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .countAndname{
        max-width: 90%;
    }.rows{
        max-width: 90%;
    }
}