:root{
    --borders:#D1D5DB;
    --keys: #A938FA;
    --true: #38A169;
     --false: #C53030;
     --lightRed:  #F08080;
     --skyBlue: #7DD3FC;
      --textColor: #26125b;
       --buttonColor: #2c7a7b;
  --buttonHover: #38a3a5;
}
.trust{
    width: 90%;
    height: 55px;
   border: 1px solid var(--skyBlue);
   margin: 15px auto;
   border-radius: 5px;
}

.trustHolder{
    width: 100%;
    height: 100%;
    background-color: #D7F0FF;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.backgroundParagraph{
    width: 99.2%;
    height: 90%;
    background-color: #F8F5FC;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.backgroundParagraph p{
    padding: 5px;
}

.trustNumber{
    text-decoration: none;
    color: #000;
}

.acceptParagraph{
    color: var(--skyBlue);

}



.topLayoutHolder{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.leftHolder{
    width: 45%;
    height: 450px;
}
.rightSide{
    width: 45%;
    height: 450px;
   margin-top: 30px;
}

.leftSide{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    border-right: 1px solid var(--borders);
    border-top: 1px solid var(--borders);
}



.leftSide span{
    font-size: 15px;
    color: var(--keys);
}

.leftSide p{
    font-size: 13px;
        padding: 5px;

}

.leftSide h3{
    padding-right: 5px;
}

.leftSide p.true{
    color: var(--true);
    
}

.leftSide p.false{
    color: var(--false);
}

.rightSide img{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.middleLayoutHolder{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
      
}



.middleBorder{
    width: 95%;
       border-top: 1px solid var(--borders);
     margin: 30px auto;
}

.deliveryparagraph{
    font-size: 12px;
   font-weight: bold;
}

.iconHolder{
    width: 15%;
   height: 100px;
   border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid var(--keys);
}

.Icons{
    font-size: 30px;
    color: #A938FA;
}

.buyNow{
    padding: 10px;
    color: #fff;
    border: none;
    background-color: #A938FA;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}



.sameStyleAbout h3{
 padding-right: 30px;
}

/*=========================================================================================*/
/*========================================Cards============================================*/
/*==========================================================================================*/
.detailsHolder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.cardHolder{
    width: 23%;
    height:400px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(38, 18, 91, 0.12);
    display: flex;
    flex-direction: column;
 }

 .cardHolder .basketButton{
    width: 30%;
        margin-right: 15px;
        margin-top: auto;
        margin-bottom: 5px;

 }

 .cardHolder p,.detailsLinks{
       padding: 0 20px;

 }
 .detailsLinks{
    text-decoration: none;
    color: #000;
    
   
 }

 .cardHolder img{
    width: 90%;
    height: 150px;
    margin: 5% auto;
    display: block;
 }

 .detailsLinks .detailsIcon{
   vertical-align: middle;
   margin-left: 5px;
  }

 
/*===========================================================================================*/
.aboutMehregan{
    width: 100%;
    height: auto;
}

.reasonHolder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
   
}
 

.styleForBackground{
    width: 30%;
    height: 50px;
    background-color: var(--keys);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding-right: 15px;        

 }

 .styleForBackground p{
    color: #fff;
 }

 .styleForBackground p:nth-child(2){
    font-size: 12px;
 }

 .warningHolder{
    width: 90%;
    height: 55px;
    border: 1px solid var(--false);
    margin: 30px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .warningBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--lightRed);
    border-radius: 5px;
 }

 .lightBackgrounding{
     width: 99.2%;
    height: 90%;
    background-color:  #FFD6D6;
    display: flex;
    align-items: center;
    margin: 0 auto;
 }

 .lightBackgrounding p{
    color: var(--textColor);
 }

 .warningIcon{
    vertical-align:bottom;
    font-size: 30px;
    color: var(--false);
 }

 .warningParagraph{
    color: var(--false);
 }

 .paymentHolder{
    width: 100%;
 }

 .borderHolder{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sumBorder{
    width: 40%;
    height: 2px;
    background-color: black;
}

.payment{
    width: 90%;
    border: 1px solid var(--borders);
    margin: 25px auto;
    border-radius: 5px;
}

.productDetails{
    max-width: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  color: var(--keys);
}



.productValue{
    max-width: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr  1fr;
    margin: 0 auto;
  align-items: center;
    
}

.total{
    text-align: center;
    color: var(--skyBlue);
}

.informationDetails{
     max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 2fr;
  margin: 0 auto;
  align-items: center;
  color: var(--keys);
}

.informationValue{
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 2fr;
    align-items: center;
    margin: 0 auto;
}

.goTopayment{
    display: block;
    margin-right: auto;
    margin-left: 15px;
    border: none;
    background-color: var(--buttonColor);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms;
}

.goTopayment:hover{
    background-color: var(--buttonHover);
}

.success{
    width: 30%;
    height: 50px;
    background-color: var(--true);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 5%;
}

.error404{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.error404 img{
    width: 90%;
    border-radius: 5px;
}

.aboutUsHero{
    width: 100%;
    height: auto;
}

.imgHolder{
    width: 100%;
    position: relative;
}
.imgHolder img{
    width: 95%;
    height: 400px;
    display: block;
   margin: 5px auto;
   border-radius: 5px;
}

.backgroundImg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    height: 400px;
    background-color: var(--keys);
    opacity: 0.5;
    border-radius: 5px;

}



.secondRowAboutUs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.descriptionHolder{
    width: 45%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.descriptionAboutUs{
    font-size: 15px;
    color: #000;
}

.firstSpan{
    color: var(--keys);
}
.works{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.workHolder{
    display: flex;
    gap: 5px;
 }

.checkIcon{
    color: var(--keys);
}

.imgBrand{
    width: 45%;
    height: auto;
}

.imgBrand img{
    width: 100%;
    height: 450px;
    box-shadow: 1px solid #000;
    border-radius: 5px;
}

.descriptionHolder h4{
    color: var(--keys);
}

.middleSectionAbout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    height: 150px;
    border: 1px solid var(--keys);
}

.experience{
    display: flex;
    align-items: center;
    gap: 5px;
}



.experience span{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.middleIcons{
    color: var(--keys);
}

.myMissions{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;  
    margin-top: 50px;
}

.rightMissions{
    width: 47.5%;
    height: auto;
}

.leftMissions{
    width: 47.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rightMissions img{
    width: 100%;
}

.leftMissions span{
    color: var(--keys);
}

.badgeHolder{
    width: 100%;
    height: auto;

}

.badge{
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    padding: 5px;
    border-radius: 30px;
   border: 1px solid var(--borders);
     color: #000 !important;
     cursor: pointer;
}

.active{
     font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    padding: 5px;
    border-radius: 30px;
   border: 1px solid var(--keys);
   background-color: var(--keys);
     cursor: pointer;
}

.phoneNumberandAddress{
    width: 100%;
    height: auto;
   
}

.infoHolder{
     width: 95%;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.numberHolder{
    width: 20%;
    height: 100px;
    border: 1px solid var(--keys);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.emailHolder{
     width: 30%;
    height: 100px;
    border: 1px solid var(--keys);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
        gap: 10px;

}

.addressHolder{
     width: 45%;
    height: 100px;
    border: 1px solid var(--keys);
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.numberHolder a{
    text-decoration: none;
    color: #000;
}

.address{
    color: var(--skyBlue);
}

.callnumber{
    color: var(--skyBlue);
}

.email{
        text-decoration: none;
            color: var(--skyBlue);


}




.emailHolder a{
    text-decoration: none;
    color: #000;
        overflow-wrap: anywhere;

}

.contactIcon{
    color: var(--keys);
}

.enterthecostumerInfo{
    width: 100%;
    height: auto;
}

.inputHolder{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
       gap: 5px;
       margin: 10px auto;
       border: 1px solid var(--keys);
       border-radius: 5px;
}

.inputHolder input{
    width: 90%;
    margin-top: 5px;
}

.inputHolder .costumerText{
    width: 90%;
    resize: none;
}

.inputHolder .sendInfo{
    width: 90%;
    margin-bottom: 15px;
    background-color: var(--buttonColor);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: ease 200ms ;

}

.inputHolder .sendInfo:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.inputHolder button:hover{
    background-color: var(--buttonHover);
}

.addressMap{
    width: 100%;
    height: auto;
}

.addressMap iframe{
    width: 95%;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

.errorType{
    color: var(--false);
}

.mainContainer{
    width: 100%;
    height: auto;
}

.mainContainer h3,.mainContainer p{
    text-align: center;
    color: var(--keys);
}

.orderTrackHolder{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}



.firstLine,.secondLine{
    width: 40%;
    height: 1px;
    background-color: var(--borders);
}

.orderFields{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.orderDetails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.orderDetails p{
    color: var(--skyBlue);
}

.orderTracking{
    width: 100%;
}

.orderTrackingHolder{
    width: 90%;
    height: 150px;
    border: 1px solid var(--borders);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
}

.styleInwidth{
    width: 100%;
    height: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
}

.circles{
    width: 30px;
    height: 30px;
    border: 1px solid var(--keys);
    border-radius: 50%;
    text-align: center;
}

.circles span{
    color: var(--keys);
}

.circleActive  {
    background-color: var(--keys);
    
}



.circleActive span{
    color: #fff;
}

.orderTrackingLine{
    width: 15%;
    height: 1px;
    background-color: var(--borders);
}

.orderTrackingLineActive{
    background-color: var(--keys);
}

.TextPositionHolder{
    width: 70%;
   display: grid;
   grid-template-columns: repeat(4,1fr) ;
   margin: 0 auto;
}

.orderTracking h4{
    margin-right: 20px;
}

@media only screen and (max-width:767px){
    .rightSide{
        width: 90%;
        height: auto;
        margin: 10px auto;
    }.leftHolder{
        width: 90%;
        height: auto;
          margin: 10px auto;
    }.topLayoutHolder{
        flex-direction: column;
    }.middleLayoutHolder{
      display: none;
    }.middleBorder{
        display: none;
    }.reasonHolder{
       
        flex-direction: column;
       align-items: center;
              gap: 5px;

    }.styleForBackground{
         width: 90%;
    }.sameStyleAbout{
        margin-top: 50px;
    }.aboutMehregan{
        height: auto;
    }.warningHolder{
        height: auto;
    }.trustHolder{
        height: auto;
    }.trust{
        height: auto;
    }.borderHolder p{
        font-size: 15px;
        text-align: center;
    }.productDetails,.informationDetails{
        display: none;
    }.productValue,.informationValue{
        grid-template-columns: 1fr;
        text-align: center;
    }.goTopayment{
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
    }.success{
        width: 90%;
        margin-top: 5%;
        height: auto;
    }.imgHolder img{
        height: 300px;
    }.backgroundImg{
        height: 300px;
    }.secondRowAboutUs{
        flex-direction: column;
        justify-content: space-between;
    }.descriptionHolder{
        width: 90%;
        height: auto;
        margin: 0 auto ;
        text-align: center;
        gap: 15px;
    }.imgBrand{
        width: 90%;
        margin: 0 auto;
    }.imgBrand img{
        width: 100%;
        height: auto;
    }.works{
        justify-items: center;
    }.middleSectionAbout{
        grid-template-columns: 1fr 1fr;
    }.myMissions{
        flex-direction: column;
    }.leftMissions{
        width: 95%;
        margin: 0 auto;
        gap: 15px;
    }.rightMissions{
        width: 95%;
        margin: 0 auto;
    }.infoHolder{
        flex-direction: column;
                gap: 10px;
    }.numberHolder,.emailHolder,.addressHolder{
        width: 99%;
        margin: 0 auto;
    }.inputHolder{
        grid-template-columns: 1fr;
       
    }.orderFields,.orderDetails{
        display: none;
    }.TextPositionHolder{
        width: 100%;
                /* overflow-wrap: anywhere; */

        
    }.orderTrackHolder h4{
        font-size: 12px;
    }.TextPositionHolder p{
        font-size: 15.5px;
        text-align: center;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .imgHolder img{
        height: 300px;
    }.backgroundImg{
        height: 300px;
    }
}