:root{
    --borders:#D1D5DB;
    --keys: #A938FA;
    --true: #38A169;
     --false: #C53030;
     --lightRed:  #F08080;
     --skyBlue: #7DD3FC;
      --textColor: #26125b;
}
.trust{
    width: 90%;
    height: 55px;
   border: 1px solid var(--skyBlue);
   margin: 15px auto;
   border-radius: 5px;
}

.trustHolder{
    width: 100%;
    height: 100%;
    background-color: #D7F0FF;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.backgroundParagraph{
    width: 99.2%;
    height: 90%;
    background-color: #F8F5FC;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.backgroundParagraph p{
    padding: 5px;
}

.trustNumber{
    text-decoration: none;
    color: #000;
}

.acceptParagraph{
    color: var(--skyBlue);

}



.topLayoutHolder{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.leftHolder{
    width: 45%;
    height: 450px;
}
.rightSide{
    width: 45%;
    height: 450px;
   margin-top: 30px;
}

.leftSide{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    border-right: 1px solid var(--borders);
    border-top: 1px solid var(--borders);
}



.leftSide span{
    font-size: 15px;
    color: var(--keys);
}

.leftSide p{
    font-size: 13px;
        padding: 5px;

}

.leftSide h3{
    padding-right: 5px;
}

.leftSide p.true{
    color: var(--true);
    
}

.leftSide p.false{
    color: var(--false);
}

.rightSide img{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.middleLayoutHolder{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
      
}



.middleBorder{
    width: 95%;
       border-top: 1px solid var(--borders);
     margin: 30px auto;
}

.deliveryparagraph{
    font-size: 12px;
   font-weight: bold;
}

.iconHolder{
    width: 15%;
   height: 100px;
   border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid var(--keys);
}

.Icons{
    font-size: 30px;
    color: #A938FA;
}

.buyNow{
    padding: 10px;
    color: #fff;
    border: none;
    background-color: #A938FA;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}



.sameStyleAbout h3{
 padding-right: 30px;
}

/*=========================================================================================*/
/*========================================Cards============================================*/
/*==========================================================================================*/
.detailsHolder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.cardHolder{
    width: 23%;
    height:400px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(38, 18, 91, 0.12);
    display: flex;
    flex-direction: column;
 }

 .cardHolder .basketButton{
    width: 30%;
        margin-right: 15px;
        margin-top: auto;
        margin-bottom: 5px;

 }

 .cardHolder p,.detailsLinks{
       padding: 0 20px;

 }
 .detailsLinks{
    text-decoration: none;
    color: #000;
    
   
 }

 .cardHolder img{
    width: 90%;
    height: 150px;
    margin: 5% auto;
    display: block;
 }

 .detailsLinks .detailsIcon{
   vertical-align: middle;
   margin-left: 5px;
  }

 
/*===========================================================================================*/
.aboutMehregan{
    width: 100%;
    height: auto;
}

.reasonHolder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
   
}
 

.styleForBackground{
    width: 30%;
    height: 50px;
    background-color: var(--keys);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding-right: 15px;        

 }

 .styleForBackground p{
    color: #fff;
 }

 .styleForBackground p:nth-child(2){
    font-size: 12px;
 }

 .warningHolder{
    width: 90%;
    height: 55px;
    border: 1px solid var(--false);
    margin: 30px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .warningBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--lightRed);
    border-radius: 5px;
 }

 .lightBackgrounding{
     width: 99.2%;
    height: 90%;
    background-color:  #FFD6D6;
    display: flex;
    align-items: center;
    margin: 0 auto;
 }

 .lightBackgrounding p{
    color: var(--textColor);
 }

 .warningIcon{
    vertical-align:bottom;
    font-size: 30px;
    color: var(--false);
 }

 .warningParagraph{
    color: var(--false);
 }



@media only screen and (max-width:767px){
    .rightSide{
        width: 90%;
        height: auto;
        margin: 10px auto;
    }.leftHolder{
        width: 90%;
        height: auto;
          margin: 10px auto;
    }.topLayoutHolder{
        flex-direction: column;
    }.middleLayoutHolder{
      display: none;
    }.middleBorder{
        display: none;
    }.reasonHolder{
       
        flex-direction: column;
       align-items: center;
              gap: 5px;

    }.styleForBackground{
         width: 90%;
    }.sameStyleAbout{
        margin-top: 50px;
    }.aboutMehregan{
        height: auto;
    }.warningHolder{
        height: auto;
    }
}