:root{
    --primaryColor: #D8F3DC;
    --primaryLight: #E0F7E9;
    --buttonColor: #2C7A7B;
    --buttonHover:#205E5F;
    --textColor: #26125B;
    --secondaryText: #52796F;
    --borderRadius:5px;
}

header{
    width: 100%;
    height: 100px;
    background-color: var(--primaryColor);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    margin-top: 7px;
}
 .logo img{
    width: auto;
    height: 90px;
    background-color: transparent;
    cursor: pointer;

}


.logo:hover img{
    outline: 1px solid var(--buttonColor);
    border-radius: var(--borderRadius);
}

.selectCar{
    width: auto;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;

}

.yourcar{
        color: var(--secondaryText);
    font-size: 12px;
}

.car{
    color: var(--textColor);
}

.selectCar:hover{
    outline: 1px solid var(--buttonColor);
    border-radius: var(--borderRadius);
}

.searchBox{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
}

.searchInput{
    width: 90%;
    height: 40px;
}

.searchButton{
    width: 45px;
    height: 40px;
    background-color: var(--buttonColor);
    border: none;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    cursor: pointer;
    transition: background-color ease 200ms;
}

.searchButton:hover{
    background-color: var(--buttonHover);
}

.searchIcon{
    font-size: 30px;
    color: #ffff;
}
