*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    direction: rtl;
        font-family: iranyekan;

}

button{
            font-family: iranyekan;

}

@font-face {
    font-family: iranyekan;
    src: url(../src/assets/iranyekan/Qs_Iranyekan.ttf);
}